body
{
    position: absolute;
    margin: 0%;
    width: 100%;
    height: 100%;
   
  

}

.form-div
{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3vw;
}
.form-btn
{
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2vw;
}

.marco
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
   
   
} 

#form-r
{

    position: absolute;
    display: 'none';
    top: 10%;
    left: 25%;
    width: 50%;
    border-radius: 2%;
    background-color: #4e4e4e;
     
}
#form-ing
{

    position: absolute;
    display: block;
    top: 10%;
    left: 25%;
    width: 50%;
    border-radius: 2%;
    background-color: #4e4e4e;
     
}




.avatar-div img
{

    left: 40%;
    width: 20%;
    height: 10vw;
    border-radius: 50%;
    background-color: #fce0e0;
    
}
.avatar-div, img
{
    position: relative;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}




.desenfoque
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0%;
}